
		</br>
		</br>
		</br>
		</br>
		<h1>Sample App</h1>
		
		<p>
			This is the home page for the
			<a href="http://www.railstutorial.org/"> Ruby on Rails Tutorials</a>
			sample application.
		</br>

			<%= link_to "Sign up now!",'/users/new', id: "sign-up",class: "btn btn-primary" %>
		
		</p>
		
